# Ignore data files (large SRTR datasets)
*.sas7bdat
*.Rdata

# Ignore R project files
.Rproj.user
.RData
.Rhistory
.DS_Store
*.html

# renv files
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/
.Rprofile.local


# ignore data files
data/*

# Ignore large result files
results/*

# Ignore screenshots folder
screenshots/

results/individual_match_run_examples/
